{% extends "base.html" %}
{% block content %}
<h2>About Me</h2>
<p>
    I’m Santhoshkanna R, an aspiring Data Analyst with hands-on experience in tools like Python, SQL, Power BI, Tableau, and Excel. I’m passionate about analyzing data to uncover insights and drive smarter decisions. Focused, detail-oriented, and always eager to learn, I’m ready to bring data to life in impactful ways.
</p>

<h3>🏫 School Details</h3>
<ul>
  <li><strong>School:</strong> Town Higher Secondary School, Kumbakonam</li>
  <li><strong>Years Attended:</strong> 2019 - 2021</li>
  <li><strong>Percentage:</strong> 72%</li>
</ul>

<h3>🏛️ College Details</h3>
<ul>
  <li><strong>College:</strong> Info Institute of Engineering, Coimbatore</li>
  <li><strong>Affiliated to:</strong> Anna University</li>
  <li><strong>Course:</strong> B.E. Computer Science and Engineering</li>
  <li><strong>Batch:</strong> 2021 - 2025</li>
  <li><strong>Current CGPA:</strong> 7.6 (as of final year)</li>
</ul>


<h3>🎓 Certifications</h3>
<ul>
  <li>Python for Data Science, AI & Development – IBM</li>
  <li>Career Essentials in Data Analysis – Microsoft & LinkedIn</li>
  <li>Data Visualization: Empowering Business with Effective Insights – Tata</li>
  <li>Accenture North America Data Analytics & Visualization – Forage</li>
  <li>TCS Data Analyst Certificate</li>
  <li>HP Accredited Integration Specialist - Software Testing Foundation v9</li>
</ul>


<ul>
    <li>🔗 <a href="https://www.linkedin.com/in/santhoshkanna-r-b71391318" target="_blank">LinkedIn</a></li>
    <li>💻 <a href="https://github.com/your-github-username" target="_blank">GitHub</a></li>
  </ul>
  {% endblock %}